.error_message {
    color: red !important;
    
}
.error_field {
    border: 1px solid red !important;
}
.mce-edit-area {
    min-height: 150px;
}
@media (min-width: 768px){
    #kbaddFacilitiesBlockModel .modal-dialog {
        width: 65%;
    }

}
/*.modal {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 )
               url(../../img/ajax-loader.gif)
                50% 50%
                no-repeat;
        }*/
/*#kb-booking-loader{
background: url(../../img/ajax-loader.gif) no-repeat left top transparent;
    background-size: 100% 100%;
    position: absolute;
    top: 61%;
    left: 22%;
    width: 31px;
    height: 32px;
    display: none;
}*/
#ui-datepicker-div {
    z-index: 99 !important;
}

.icon-exclamation-circle {
    float: right;
    color: #ff0000;
    font-size: 19px;
}

.kb-pc-error-icon {
    margin-left: 10px;
    display: none;
}