/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

/* HEADER */
.logo {
    height: 40px;
    width: auto;
}

#header {
    padding-bottom: 0px !important;
}


#index .header-nav {
    background: none !important;
    height: 35px !important;
    border-bottom: 1px solid #ffffff !important;
}

.header-nav {
    background: #FCFCFC;
    height: 35px !important;
    border-bottom: 1px solid #eaeaea !important;
}

#index .header-nav * {
    color: #ffffff !important;
}

.header-nav .block-links-inline ul>li:after {
    content:  '' !important;
    display: none !important;
}

#index .header-nav .block-iqitlinksmanager li:first-child {
    padding: 0px 0px 0px 22px;
    background: url(../img/tel_blanco.svg) no-repeat left;
}

#index .header-nav .block-iqitlinksmanager li:last-child {
    padding: 0px 0px 0px 22px;
    margin-left: 15px;
    background: url(../img/mail_blanco.svg) no-repeat left;
}

.header-nav .block-iqitlinksmanager li:first-child {
    padding: 0px 0px 0px 22px;
    background: url(../img/tel_negro.svg) no-repeat left !important;
}

.header-nav .block-iqitlinksmanager li:last-child {
    padding: 0px 0px 0px 22px;
    margin-left: 15px;
    background: url(../img/mail_negro.svg) no-repeat left !important;
}

.block-iqitlinksmanager-3 span {
    font-family: 'Poppins', sans-serif !important
}

#index #iqitmegamenu-horizontal a {
    color: #ffffff !important;
}

#index .sticky-desktop-wrapper #desktop-header.stuck-header, #index .stuck-menu   {
    background: #2F3136 !important;
}

.header_option {
    font-size: 10px;
    text-transform: uppercase;
    color: #2F3136;
    font-weight: 300 !important;
}

#index .header_option {
    color: #ffffff !important;
}

/* MEGA MENU */
#index #cbp-hrmenu-tab-1 a {
    opacity: 0.5;
}


#index #iqitmegamenu-horizontal li > a {
  text-decoration: none;
  color: #ffffff !important;
  z-index: 1;
}


#index #iqitmegamenu-horizontal li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #ffffff !important;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
#index #iqitmegamenu-horizontal li > a:hover:before,
#index #iqitmegamenu-horizontal li > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}





#iqitmegamenu-horizontal li > a {
  text-decoration: none;
  color: #000000;
  z-index: 1;
}


#iqitmegamenu-horizontal li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #117393;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
#iqitmegamenu-horizontal li > a:hover:before,
#iqitmegamenu-horizontal li > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}


/* FOOTER */
.newsletter {
    background: #F2F5FC;
    padding: 200px 0px 50px 0px;
    text-align: center;
    margin-top: -100px;
}

#footer .block-title {
    border-bottom: none;
    font-family: 'Georgia';
    font-size: 18px;
    color: #324F57;
}

.block-social-links .block-title {
    display: none;
}

.block-social-links {
     background: url(../img/logo_azul.png) no-repeat top left;
        min-width: 200px;
     padding-top: 70px;
}

.block-links ul>li a:before {
    display: none !important;
}

.block-links ul>li a {
    margin-left: -10px;
}

.social-links li {
    width: 25px;
    height: 25px;
    border: 1px solid #2F3136;
    text-align: center;
    border-radius: 25px;
    padding-top: 4px;
}

.footer_ {
    margin-top: 50px !important;
    padding: 40px 0px 40px 0px;
    background: #2F3136;
    color: #ffffff;
}

.footer_ a {
    color: #E3E8F3 !important;
    font-size: 16px;
    font-weight: 300 !important;
}

.footer_ .block-title {
    display: none;
}

.block-iqitlinksmanager-6 li {
    text-align: left;
    text-transform: uppercase;
}

.block-iqitlinksmanager-6 li:last-child {
    margin-top: 30px !important;
    background: url(../img/carrito_blanco.svg) no-repeat left;
    padding-left: 27px;
}

.block-iqitlinksmanager-7 li {
    text-align: center;
}

.block-iqitlinksmanager-8 li {
    text-align: right;
    text-transform: uppercase;
}

#footer-copyrights {
    margin-top: -50px !important;
}

#footer-copyrights p {
    text-align: center !important;
    color: #ffffff !important;
    font-size: 12px;
}


/* HOME */
.slider_olympia .swiper-button {
    border-radius: 50px !important;
    width: 50px !important;
    height: 50px !important;
}

.one_product_list h4.product-title, 
.one_product_list h4.product-title a:link:not(.nav-link):not(.btn), 
.one_product_list h4.product-title a:visited:not(.nav-link):not(.btn) {
    font: normal normal 600 22px/20px Work Sans;
    color: #2F3136;
    padding-bottom: 20px;
}

.one_product_list .product-description.col p {
    font-size: 15px;
}

.one_product_list .products .product-price {
    font: normal normal 600 25px/29px Work Sans;
}

.one_product_list .product-miniature-small .product-description {
    padding-right: 70px;
}

.one_product_list .product-link, 
.one_product_list .product-link a:link:not(.nav-link):not(.btn), 
.one_product_list .product-link a:visited:not(.nav-link):not(.btn) {
    font: normal normal normal 20px/22px Work Sans;
    padding-top: 30px;
    color: #2F3136;
}

.main-categories h3.elementor-icon-box-title{
    margin-top: 15px;
}

.main-categories h3.elementor-icon-box-title a:link:not(.nav-link):not(.btn), 
.main-categories h3.elementor-icon-box-title a:visited:not(.nav-link):not(.btn){
    color: #324F57;
    font: normal normal normal 14px/30px Work Sans;
}

.full-image-product .products-grid .product-miniature-default {
    min-height: 423px;
}

.full-image-product .thumbnail-container.reviews-loading {
    position: absolute;
    height: 100%;
    width: 100%;
}

.full-image-product .product-description {
    position: absolute;
    bottom: 85px;
}

.full-image-product .products .product-flags, 
.full-image-product .product-miniature-grid .product-functional-buttons-bottom, 
.full-image-product .product-miniature-grid .product-availability {
    display: none !important;
}



/* LISTADO DE PRODUCTOS */
.header-banner {
    display: none;
}

#index .header-banner {
    display: inherit !important;
}

#wrapper .breadcrumb {
    background: #fcfcfc
}

#category #js-product-list-header {
    display: none;
}

.products .product-flags {
    display: none;
}

.products img {
    width: 100%;
}

.products h2 a {
    font-weight: 700 !important;
    color: #2F3136 !important;
}

.products .product-description-short {
    color: #2F3136;
    font-size: 15px;
}

.products .product-price {
    color: #2F3136;
    font-weight: 700;
}

.products-selection {
    border-top: 1px solid #F2F5FC;
    border-bottom: 1px solid #F2F5FC;
    font-size: 15px;
    color: #2F3136;
}

.products-selection .view-switcher {
    display: none;
}

.products-selection .form-control {
    background: #F8FAFD;
    border: 1px solid #F8FAFD;
}

#search_center_filter_toggler {
    background: #F8FAFD url(../img/filter.png) no-repeat left;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #2F3136;

}

#facets_search_center {
    display: block;
    background: #ffffff;
    font-size: 14px;
    color: #324F57;
}

#facets_search_center h4 {
    font-family: 'Georgia';
    font-size: 20px !important;
    color: #324F57 !important;
    border-bottom: 1px solid red;
}


.fa-filter:before {
    content: '' !important;
}

#wrapper .block-title {
    border-bottom: 1px solid #F8FAFD;
}

.product-functional-buttons-bottom {
    left: 85% !important;
    bottom: 85% !important;
    background: none !important;
  }

  .js-iqitcompare-add, .js-quick-view-iqit {
    display: none !important;
  }

  /* FICHA DEL PRODUCTO */
  #iqitproductsnav {
    display: none;
  }

  .col-product-info h1 {
    font-size: 38px !important;
    font-family: 'Georgia';
    color: #324F57 !important;
  }

  .product_header_container {
    padding-bottom:  0px !important;
    border-bottom: none !important;
    margin-bottom: 0px !important;
  }

  .product-information p {
    font-size: 15px;
    color: #2F3136;
    padding-bottom: 15px;
    border-bottom: 1px solid #F7F9FD;
  }

  #product .product-reference {
    display: none;
  }

  .product_p_price_container {
    padding-top: 0px !important;
    border-top: none !important;
  }

#col-product-info .product-price {
    font-size: 28px;
    color: #117393 !important;
}

#col-product-info .tax-shipping-delivery-label {
    display: none;
}

#col-product-info .btn-primary {
    background: #324F57;
}



#col-product-info .fa-shopping-bag:before {
    content: url(../img/bg_carrito.png) !important;
}

.product-additional-info {
    border-top: none;
}

.product-sections {
    background: #F7F9FD;
    padding: 15px 15px 10px 15px;
}

.product-sections p {
    font-size: 15px;
    color: #2F3136;
}

.product-sections .section-title {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    font-size: 30px !important;
    font-family: 'Georgia';
    color: #2F3136 !important;
}

#product-details-wrapper, #iqit-reviews-tab {
    display: none;
}

.social-sharing .facebook {
    background: #3B5998;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 15px 7px 15px;
}

.social-sharing a {
    color: #ffffff !important;
    font-size: 17px;
}

.social-sharing .facebook:after {
    content: 'Facebook';
    margin-left: 15px !important;
}


.social-sharing .twitter {
    background: #55ACEE;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 15px 7px 15px;
}


.social-sharing .twitter:after {
    content: 'Twitter';
    margin-left: 15px !important;
}

.social-sharing .pinterest {
    background: #CC2127;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 15px 7px 15px;
}


.social-sharing .pinterest:after {
    content: 'Pinterest';
    margin-left: 15px !important;
}

.product-accessories .section-title, .viewed-products .section-title {
     border-bottom: none !important;
    padding-bottom: 0px !important;
    font-size: 30px !important;
    font-family: 'Georgia';
    color: #2F3136 !important;
}

.product-accessories {
    background: #F2F5FC;
    padding: 50px 0px 50px;
    width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.datetimepicker.datetimepicker-dropdown-bottom-right {
    opacity: 1;
    visibility: visible;
    transform: inherit;
    min-width: inherit;
    transform-origin: unset;
    transition: inherit;
    display: none;
}

.kb-booking-product-price-block {
    display: none;
}

.datetimepicker .next:before  {
    content: '>' !important;
}

.datetimepicker .prev:before  {
    content: '<' !important;
}

.datetimepicker .next i, .datetimepicker .prev i {
    display: none !important;
}

.kb-booking-product-block {
    box-shadow: none;
    border: 1px solid #DDE3F1;
    background: #F2F5FC;
}

.kb-booking-product-block h5 {
    font-size: 15px;
    color: #117393;
    text-align: left !important;
    border-bottom: 1px solid #117393;
}

.booking-product-checkin-block {
    margin: 15px 0px 0px 0px;
    padding: 0;
}

.booking-product-checkin-block .form-group {
    padding: 0;
}

.booking-product-checkin-block .control-label {
    font-size: 15px;
    color: #324F57;
    background: url(../img/bg_calendario.png) no-repeat left;
    padding-left: 22px;
}

.booking-product-checkin-block .form-control {
    cursor: pointer;
    background: #ffffff url(../img/bg_calendario.png) no-repeat;
    border: 1px solid #E3E8F3;
    background-position: right 15px top 10px;
}

#product #lrp-product-widget {
    font-size: 14px;
    color: #324F57;
    margin: 15px 0px 15px 0px;
    background: #e7f1f4 url(../img/bg_ganar.png) no-repeat left;
    padding-left: 75px !important;
}

#product #lrp-product-widget i {
    display: none;
}

.banner-regalo {
    float: left;
    width: 100%;
    margin: 10px 0px 40px 0px;
    background: #e7f1f4 url(../img/regalo_.jpg) no-repeat top left;
    padding: 30px 30px 30px 120px;
    color: #ffffff;
}

.banner-regalo .section-title {
    border-bottom: none !important;
    font-size: 28px !important;
    color: #ffffff !important;
    font-family: 'Georgia' !important;
    padding-bottom: 0px !important;
    margin-bottom: 20px !important;
}

.kb-booking-product-block .btn-iqitwishlist-add {
    margin: -60px 0px 0px 140px;
    background: #ffffff;
    padding: 8px 15px 8px 15px;
}

/* SOBRE NOSOTROS (Y OTROS CMS) */
#cms .page-header {
    display: none;
}

._cabecera_nosotros img {
    width: 100%;
}

._slider_restaurante .swiper-button {
    border-radius: 50px !important;
    width: 50px !important;
    height: 50px !important;
}

/* CONTACTO */
#checkbox_privacy_25703 {
    margin-right: 5px;
    margin-top: 5px;
}

.submit_btn_center {
    color: #ffffff !important;
    background: #117393 !important;
}

.submit_btn_center * {
    color: #ffffff !important;
}

#html_92909 {
    font-size: 12px;
    margin-top: 15px !important;
}

.checkbox_box .col-md-4 {
    display: none !important;
}

.checkbox_box .col-md-8 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.cms-id-6 .form-control {
    background: #F7F9FD !important;
    border: 1px solid #F7F9FD !important;
}

.cms-id-6 .btn-primary {
    background: #324F57 !important;
    text-transform: capitalize !important;
}

/* REGISTRO / LOGIN */
#authentication .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#authentication .form-control {
    background: #F7F9FD !important;
    border: 1px solid #F7F9FD !important;
}


/* OLVIDO SU CONTRASEÑA */
#password .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#password .form-control {
    background: #F7F9FD !important;
    border: 1px solid #F7F9FD !important;
}

/* ZONA DE USUARIO */
#header-user-btn .dropdown-menu i {
    display: none;
}

.my-account-side-links i {
    display: none;
}

#identity .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#identity .form-control {
    background: #F7F9FD !important;
    border: 1px solid #F7F9FD !important;
}

.my-account-page-content h2 {
    font-size: 22px;
    padding-botttom: 50px !important;
}

.my-account-side-links #address-link, .my-account-side-links #addresses-link, .my-account-side-links #discounts-link {
    display: none;
}

.my-account-side-links #order-slips-link {
    display: none;
}

#history .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#history .my-account-page-content {
    color: #2F3136;
}

#history .table .thead-default th {
    background: #E3E8F3;
    font-size: 14px !important;
}

#history .table td, #history .table tbody th {
    background: #F7F9FD;
    font-size: 14px !important;
}

.width_status {
    min-width: 150px !important;
}


#module-iqitwishlist-view .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#module-iqitwishlist-view .my-account-page-content {
    color: #2F3136;
}

#module-iqitwishlist-view .table .thead-default th {
    background: #E3E8F3;
    font-size: 14px !important;
}

#module-iqitwishlist-view .table td, #history .table tbody th {
    background: #F7F9FD;
    font-size: 14px !important;
}

#iqitwishlist-share {
    display: none;
}

#module-iqitwishlist-view .product-price {
    color: #2F3136;
}

#module-iqitwishlist-view .input-group-add-cart .form-control {
    width: 50px !important;
}

#order-detail .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#order-detail .my-account-page-content {
    color: #2F3136;
}

#order-detail .table .thead-default th {
    background: #E3E8F3;
    font-size: 14px !important;
}

#order-detail .table td, #history .table tbody th {
    background: #F7F9FD;
    font-size: 14px !important;
}

#order-detail .form-control {
    background: #f3f3f3;
}



#module-loyaltyrewardpoints-customeraccount .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#module-loyaltyrewardpoints-customeraccount .my-account-page-content {
    color: #2F3136;
}

#module-loyaltyrewardpoints-customeraccount .table .thead-default th {
    background: #E3E8F3;
    font-size: 14px !important;
}

#module-loyaltyrewardpoints-customeraccount .table td, #history .table tbody th {
    background: #F7F9FD;
    font-size: 14px !important;
}

#module-loyaltyrewardpoints-customeraccount .form-control {
    background: #f3f3f3;
}

#module-loyaltyrewardpoints-customeraccount .points-card span {
    color: #117393;
}

#module-loyaltyrewardpoints-customeraccount .points-card {
    text-align: center;
}

#module-loyaltyrewardpoints-customeraccount h6 {
    margin-top: 30px !important;
}

/* CARRITO */
#cart .page-title {
    border-bottom: none !important;
    font-size: 38px;
    color: #2F3136;
    font-family: 'Georgia';
    padding-bottom: 0px !important;
}

#cart .cart-items {
    color: #2F3136;
}

#cart .cart-items .product-price {
    color: #2F3136 !important;
}

.cart-detailed-subtotals #cart-subtotal-shipping {
    display: none;
}

#cart .bootstrap-touchspin .form-control, #cart .bootstrap-touchspin .btn {
    background: #F8F8F8 !important;
}

#cart .cart-total {
    font-size: 22px;
    color: #2F3136;
}

.cart-voucher-area {
    background: #F2F5FC !important;
}

.cart-voucher-area .btn-secondary {
    background: #0F261F !important;
    color: #ffffff !important;
}

#cart .cart-grid-body .btn-secondary {
    background: none !important;
    color: #2F3136 !important;
}

#cart .cart-grid-body .btn-secondary i {
    color: #117393 !important;
}

#cart #lrp-points {
    background: #ffffff url(../img/bg_puntos_blanco.png) no-repeat top left;
    padding-left: 50px;
    border: 1px solid #DDE3F1;
}

#cart #lrp-points i {
    display: none;
}

/* CHECKOUT */
#checkout #div_onepagecheckoutps_login {
    display: none;
}

#checkout h1 {
    font-family: 'Georgia';
    font-size: 38px;
    color: #2F3136;
    border-bottom: 1px solid #117393;
    margin-bottom: 15px !important;
    width: auto;
    padding-bottom: 10px;
}

#checkout #div_onepagecheckoutps_info p {
    font-size: 17px;
    font-weight: 700;
    color: #2F3136;
}

#onepagecheckoutps_step_one h5 {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    color: #2F3136;
    font-size: 15px;
    padding: 15px 0px 15px 0px !important;
}

#onepagecheckoutps_step_three_container h5 {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    color: #2F3136;
    font-size: 15px;
    padding: 15px 0px 15px 0px !important;
}


#form_customer label {
    font-size: 15px !important;
    color: #2F3136 !important;
    margin-bottom: 7px !important;
    margin-top: 20px !important;
}

#form_customer .form-control {
    background: #F7F9FD !important;
    border: 1px solid #F7F9FD !important;
    font-size: 15px !important;
    border-radius: 0px !important;
}

#panel_addresses_customer, #form_customer .fields_required {
    /*display: none !important;*/
}

#onepagecheckoutps_step_one_container .btn {
    font-size: 15px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
}

#onepagecheckoutps_step_one_container .btn i {
    display: none;
}

#checkout .payment-option {
    background: #F2F5FC;
    border: 1px solid #DDE3F1;
    font-size: 14px;
    font-weight: 700;
}

#onepagecheckoutps_step_review_container {
    margin-top: 30px !important;
}

#onepagecheckoutps_step_review_container h5 {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    color: #2F3136;
    font-size: 15px;
    padding: 15px 0px 25px 0px !important;
    height: 60px !important;
    text-transform: capitalize !important;
}

#onepagecheckoutps_step_two_container {
    display: none;
}

#checkout .right_content .col-xl-6, #checkout .right_content .col-md-6, #checkout .right_content .col-lg-6 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

#onepagecheckoutps_step_three #lrp-points {
    display: none;
}

#checkout .payment_content_html {
    display: none !important;
}

#checkout .alert-info {
    border-color: #ffffff !important;
    background: #ffffff !important;
}

#header-order-detail-content * {
    text-decoration: none !important;
}

#order-detail-content * {
    font-size: 14px;
}

#checkout .cart-line-product-quantity, #checkout .bootstrap-touchspin .btn {
    background: #F8F8F8 !important;
}

.promo-imput, #discount_name {
    background: #F7F9FD !important;
    border-radius: 0px !important;
}

.promo-code-button {
    margin-bottom: 15px !important;
    float:  left;
    width: 100%;
}

#div_leave_message .form-control {
    background: #F7F9FD !important;
    height: 110px !important;
    min-height: 110px !important;
    resize: none !important;
    border-radius: 0px !important;
}

#buttons_footer_review .btn-primary {
    font-size: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: #2C2323 !important;
}

#buttons_footer_review .btn-primary i {
    display: none !important;
}

#buttons_footer_review .btn-link {
    font-size: 12px !important;;
    color: #2C2323 !important;
}

#buttons_footer_review .btn-link i {
    color: #117393 !important;
}

#checkout #lrp-points {
    background: #ffffff url(../img/bg_puntos_blanco.png) no-repeat top left;
    padding-left: 50px;
    margin: 20px 15px 0px 15px !important;
    font-size: 15px !important;
    border: 1px solid #DDE3F1;
}

#checkout #lrp-points i {
    display: none;
}


#checkout #cart-points-summary {
    background: #F2F5FC url(../img/bg_puntos.png) no-repeat left;
    padding-left: 50px;
    margin: 20px 0px 0px 0px !important;
    font-size: 15px !important;
}

div#onepagecheckoutps span, div#onepagecheckoutps em, div#onepagecheckoutps label {
    font-size: 15px;
}

#checkout #cart-points-summary i {
    display: none;
}

#checkout #cart-points-summary .card {
    border: none !important;
    padding: 15px 0px 15px 0px !important;
}

#lrp-redeem-link {
    color: #117393;
    margin-left: 10px;
}

#btn-lrp-redeem, #lrp-redeem-form .btn-secondary {
    background: #0F261F !important;
    color: #ffffff !important;
}

#checkout .product-price {
    color: #2F3136;
}

#cart-subtotal-shipping {
    display: none;
}

.product-customization-line .label, 
.product-customization-line .value, 
#onepagecheckoutps .product-customization-line .value, 
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .cart_description .product-customization-line .label {
    font-size: 12px;
}

.product-customization-line .label {
    padding: 9px 2px 9px 15px;
}

.product-customization-line .value {
    padding: 9px 15px 9px 2px;
}

/* DISTINTAS RESOLUCIONES */
@media (min-width:  0px) and (max-width:  992px) {

.slider_olympia .swiper-button {
    border-radius: 25px !important;
    width: 25px !important;
    height: 25px !important;
}

   .header-nav {
    display: none;
   }

   .fa-bars {
    color: #117393;
   }

   .categorias_home_ .elementor-row {
    display: flex !important;
   }

   .categorias_home_ .elementor-column {
        -ms-flex: 0 0 33.3% !important;
    flex: 0 0 33.3% !important;
    max-width: 33.3% !important;
   }

   #footer .col-md {
        -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
   }

   .block-social-links {
    background: url(../img/logo_azul.png) no-repeat top left;
     padding-top: 40px;
     margin-top: 30px;
   }

   .footer_ ul li {
    text-align: center;
    width: 100%;
    font-size: 13px;
   }

   .footer_ ul li a {
        font-size: 13px;
   }

   .block-iqitlinksmanager-6 li:last-child {
    margin-top: 10px !important;
    background: none;
    padding-left: 0px;
}
}

@media (min-width:  0px) and (max-width:  550px) {

   .categorias_home_ .elementor-column {
        -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
   }
}

